{% extends "base.html" %}

{% block title %}Términos y Condiciones{% endblock %}

{% block content %}
<section class="terms-section">
    <h1>Términos & Condiciones</h1>

    <article>
        <h2>1. Introducción</h2>
        <p>Este sitio web es operado por Chocolate Gratitud. En Chocolate Gratitud, nos tomamos muy en serio la privacidad y seguridad de los datos proporcionados por nuestros usuarios.</p>
        <p>Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento, por lo que le recomendamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.</p>
    </article>

    <article>
        <h2>2. Información Recopilada</h2>
        <p>La información personal que recolectamos será utilizada exclusivamente de acuerdo con los términos establecidos en este documento. Al navegar en nuestro sitio podemos recopilar la siguiente información personal:</p>
        <ul>
            <li><p>Dirección de correo electrónico</p></li>
        </ul>
    </article>

    <article>
        <h2>3. Uso de la Información Recopilada</h2>
        <p>La información proporcionada será utilizada con los siguientes fines:</p>
        <ul>
            <li><p>Mantener un registro de usuarios y gestionar pedidos.</p></li>
            <li><p>Mejorar nuestros productos y servicios.</p></li>
            <li><p>Enviar información promocional, ofertas especiales y novedades que consideremos relevantes. Estos correos electrónicos serán enviados a la dirección que proporcione y podrán ser cancelados en cualquier momento mediante el enlace de cancelación de suscripción incluido en cada mensaje.</p></li>
        </ul>
        <p>Nos comprometemos a proteger su información utilizando medidas de seguridad avanzadas y actualizadas para evitar accesos no autorizados.</p>
    </article>

    <article>
        <h2>4. Uso de Cookies</h2>
        <p>Nuestro sitio web utiliza cookies, pequeños archivos almacenados en su ordenador, para mejorar la experiencia del usuario. Las cookies permiten:</p>
        <ul>
            <li><p>Identificar las páginas más visitadas para análisis estadísticos y mejorar nuestro contenido.</p></li>
            <li><p>Facilitar una navegación más rápida y personalizada en futuras visitas.</p></li>
        </ul>
        <p>Usted puede eliminar o rechazar las cookies a través de la configuración de su navegador. Sin embargo, tenga en cuenta que esta acción puede limitar algunas funciones del sitio web.</p>
    </article>

    <article>
        <h2>5. Enlaces a Terceros</h2>
        <p>Este sitio web puede contener enlaces a sitios web de terceros que puedan resultar de su interés. Una vez que haga clic en estos enlaces y abandone nuestro sitio, Chocolate Gratitud no tiene control sobre el sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en dichos sitios.</p>
    </article>

    <article>
        <h2>6. Control de su Información Personal</h2>
        <p>Usted tiene el derecho de restringir o controlar el uso de su información personal en cualquier momento. Al registrarse en nuestro sitio web o completar formularios, podrá elegir si desea recibir comunicaciones promocionales.</p>
        <p>Si en algún momento decide dejar de recibir estos mensajes, puede cancelar su suscripción a través del enlace incluido en cada correo electrónico.</p>
        <p>Chocolate Gratitud no venderá, cederá ni distribuirá su información personal a terceros sin su consentimiento, salvo que sea requerido por ley mediante una orden judicial.</p>
    </article>

    <article>
        <h2>7. Contacto</h2>
        <p>Si tiene alguna pregunta sobre estos Términos y Condiciones o sobre nuestras prácticas de privacidad, puede contactarnos a través de los medios de contacto proporcionados en nuestro sitio web.</p>
    </article>
</section>
{% endblock %}
